.content-table{
    border-collapse: collapse;
    border-style: solid;
    margin: 25px 0;
    font-family: Tahoma;
    font-size: 13px;
    min-width: 400px;
    border-spacing:0px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;

}
#realhide{
    visibility: hidden;
}
.content-table thead tr{
    background-color: #687291;
    color: white;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 5px 7px;
}
.content-table tbody tr{
    border-bottom: 1px solid white;
}
.content-table tbody tr:nth-of-type(odd){
    background-color: #eeeff2;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #dfe1e7;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid   #687291;
}